body {
    font-family: 'Arial', sans-serif;
}

.card-title,
.form-check-label,
.form-group label {
    font-size: 16px;
    font-weight: 400;
}

.form-control {
    font-size: 14px;
}

.btn {
    font-size: 14px;
}

.swal2-popup {
    color: black !important;
    background: white !important;
    visibility: visible !important;
    display: flex !important;
}

.form-control {
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    color: white;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table th,
.table td {
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 8%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 8%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 15%;
}

.badge {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 5px 10px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    white-space: normal;
    word-break: break-word;
}